@charset "UTF-8";

body {
    position:relative;
    background-color:transparent;
/*    text-align:center;*/
/*    height:360px;*/
}

/* Gradient blank background */
#background {
    position:relative;
    left:25px;
    top:46px;
    min-width:6.25em;
    max-width:46.523em;
    height:300px;
/*    box-shadow:0px 0px 5px 2px #000000;

min-width:100px;
    max-width:745px;*/
    background:linear-gradient(#252525, #000000);
    border-radius:35px;
}

body {margin: 0px; padding: 0px;}
a:link {color: #2c3651;}
a:visited {color: #1f5b8b;}
a:hover {color: #2c3651;}
a:active {color: #2c3651;}

#faq-button {
    position:relative;
    top:-19px;
    left:412px;
}

#rules-button {
    position:relative;
    top:-19px;
    left:468px;
}

#staff-button {
    position:relative;
    top:-19px;
    left:468px;
}
