*.tmp
*.bak
images/backup/*
js/jquery-*

#############
## Windows
#############

# Windows image file caches
Thumbs.db
ehthumbs.db

*.exe
*.msi
*.com
*.bat

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Mac junk
.DS_Store

