/* Nunito font */
@import url('http://fonts.googleapis.com/css?family=Nunito:700');

/*Content*/
#content {
margin: 0;
padding: 5px 5px 10px 10px;
}

#content.feed_item{ 
margin:1 0px 0 10px 0px;
padding: 0 0 0px 0px;
}

#content.feed_item_title {
margin: 1px 20px 1px 3px;
padding: 1px 0 1px 3px;
color: #C6C6C6; 
font-weight:bold;
}

/*feed_item_title:link*/
#content.feed_item_title a:link { 
color: #C6C6C6;
text-decoration: none; 
}

/*feed_item_title:visited*/
#content.feed_item_title a:visited {
color: #C6C6C6;
text-decoration: none;
}

/*feed_item_title:hover*/
#content.feed_item_title a:hover {
color: #C6C6C6;
text-decoration: none;
}

/*feed_item_title:active*/
#content.feed_item_title a:active { 
color: #C6C6C6;
color: #C6C6C6;
text-decoration: none;
}

/*feed_item_description:active*/ 
#content.feed_item_description { 
font-family: 'Nunito';
font-size: 12px;
/* color: white; */
color: rgb(000,255,000);
}

div.feed_item_title { 
color: #C6C6C6;
font-family: 'Nunito';
}

/* Resize summary font */
.gf-snippet{
font-family: 'Nunito';
font-size: 0.6em;
color: white;
}

/* html {
background-color: black; 
} */

/* Hide elements */
.gfc-resultsHeader, .gfc-resultsHeader, .gf-spacer, .gf-author, .gf-relativePublishedDate { 
display: none !important; 
}

#container { 
color: #C6C6C6;
font-family: 'Nunito';
font-size: 12px;
}