/* Nunito font */
@import url('http://fonts.googleapis.com/css?family=Nunito:700');

a {
color: #c6c6c6;
}

/* html {
background-color: black;
} */

#container {
color: #FFFFFF;
font-family: 'Nunito';
font-size: 12px;
}
